.idea/
.vscode/
__pycache__/
.vs

#STM32F4
STM32F4/*.csv
STM32F4/Data/
STM32F4/.metadata/
STM32F4/Flight_Controller_550/Debug/
STM32F4/Flight_Controller_550/*.launch
STM32F4/Flight_Controller_960/Debug/
STM32F4/Flight_Controller_960/*.launch
